<div class="container">
  <div class="card shadow border-dark">
    <div class="card-header shadow bg-dark">
      <h5 class="text-white">Login Here</h5>
    </div>
    <!--<form name="form" (ngSubmit)="login(f)" #f="ngForm">
      <div class="card-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="control-label">User Name</label>
          <input class="form-control" name="username" id="Username" ngModel placeholder="User Name" required autofocus>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="control-label">Password</label>
          <input type="password" name="password" class="form-control" ngModel placeholder="Password" required autofocus />
        </div>
      </div>
      <div class="card-footer shadow">
        <button type="submit" class="btn btn-primary shadow pull-right">Login</button>
      </div>
    </form>-->
  </div>
</div>
